* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;

}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}




.message {
    margin-top: 40px;
    font-size: large;
    text-align: center;
}

.buttons {
    height: 100%;
    width: 100%;
    display: flex;
    
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;

    
}

.btn {
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.score {
    display: flex;
    margin: 20px;
    justify-content: center;
    gap: 10px;
    
}

.result {
    text-align: center;
}

.again {
    display: flex;
    justify-content: flex-;
    justify-content: center;
    margin-right: 10px;
}

.reload {
    
    padding: 15px;
    border-radius: 10px;
}